/* Logo positioning for desktop (>= 768px) */
.logo {
	position: fixed;
	top: 16px;
	left: 16px;
    height: 100px;
    width: 100px;
    max-width: 100%;
    max-height: 100%;
	font-weight: 700;
	font-size: 1.1rem;
	color: #000;
	background: transparent;
	padding: 4px 8px;
	border-radius: 4px;
	z-index: 1000;
    border-color: #000;
    border-radius: 45px;
    overflow-y: auto;
    overflow-x: auto;
}

.title {
    margin-top: 80px; /* Adjust margin to avoid overlap with fixed logo */
    font-size: 2.5rem;
    text-align: center;
    color: #000000;
}

.subtitle {
    font-size: 1.8rem;
    color: #000000;
    margin-top: 40px;
    text-align: center;
}

.blackimg {
    border-radius: 2%;
    border-color: #f300df;
    width: 100%;
    height: 100%;
}

.barre_principale {
	position: fixed;
	top : 0px;
	left : 0px;
	width: 100%;
	height: 150px;
	background: #dbc396;
	padding: 2px 0px;
	border-radius: 2px;
	z-index: 500;
}

.footer {
    text-align: left;
    padding: 5px 0;
    background-color: #F5DEB3;
    color: #000;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 0.9rem;
    z-index: 500;
}

.barre_info {
	position: fixed;
	top : 150px;
	left : 0px;
	width: 100%;
	height: 75px;
	background: #d0b57e;
	padding: 2px 0px;
	border-radius: 2px;
	z-index: 100;
}

.cadre {
position: fixed;
	top : 225px;
	left : 0px;
    border: 20px, #000; 
    padding: 50%;    
    border-radius: 6px;  
    width: 50%;
	height : 500px      
}

.barre_recommandation {
	position: fixed;
	top : 160px;
	left : 0px;
	width: 33%;
	height: 100%;
	background: #d0b57e;
	padding: 2px;
	border-radius: 5px;
	z-index: 100;
}


/* Ensure the page content doesn't overlap the logo if needed 
body {
	 optional: adjust if your content is hidden behind the fixed logo 
}
 */

