/* Logo positioning for desktop (>= 768px) */
.logo {
	position: fixed;
	top: 16px;
	left: 16px;
    height: 100px;
    width: 100px;
    max-width: 100%;
    max-height: 100%;
	font-weight: 700;
	font-size: 1.1rem;
	color: #000;
	background: transparent;
	padding: 4px 8px;
	border-radius: 4px;
	z-index: 1000;
    border-color: #000;
    border-radius: 45px;
    overflow-y: auto;
    overflow-x: auto;
}

.title {
    margin-top: 80px; /* Adjust margin to avoid overlap with fixed logo */
    font-size: 2.5rem;
    text-align: center;
    color: #ffef11;
}

.subtitle {
    font-size: 1.8rem;
    color: #ffef11;
    margin-top: 40px;
    text-align: center;
}

.background {
    background-color: #000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.barres {
	position: fixed;
	top : 0px;
	left : 0px;
	width: 100%;
	height: 75px;
	background: #F5DEB3;
	padding: 2px 0px;
	border-radius: 2px;
	z-index: 500;
}

/* Ensure the page content doesn't overlap the logo if needed 
body {
	 optional: adjust if your content is hidden behind the fixed logo 
}
 */

